 

@media (max-width: 1073px){
    .title{
        max-width: 100%;
    }
    .cont-wrapper, .type, .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dialog-content{
        margin-top: 30px;
        max-width: 720px;
        width: 100%;
    }
    .form-btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button[type="submit"]{
        margin-bottom: 30px;
    }
}
@media (max-width: 780px){
    .cont-wrapper{
        margin-left: 15px;
        margin-right: 15px;
    }
    .title{
        font-size: 38px;
    }
}
@media (max-width: 780px){
    .title{
        font-size: 30px;
    }
}
@media (max-width: 480px){
    .title{
        font-size: 24px;
    }
}
@media (max-width: 370px){
    .title{
        font-size: 20px;
    }
}
 